* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}



body {
    background-image: url('https://images.unsplash.com/photo-1584267385494-9fdd9a71ad75?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.container {
    margin: 0 auto;
    width: 500px;
    border: 1px solid gray;
    border-radius: 15px;
    background: rgb(213, 213, 214);
    background: linear-gradient(214deg, rgba(213, 213, 214, 0.6140726554293592) 100%, rgba(0, 224, 255, 1) 100%);
}

.content {
    margin: 20px;
}


header {
    display: flex;
    justify-content: space-between;
}

input {
    padding: 8px;
    border-radius: 5px;
    border-style: none;
}

button {
    padding: 8px 10px;
    border-radius: 5px;
    border-style: none;
    margin-left: 5px;
}


img {
    width: 150px;
}

li {
    list-style: none;

}

.time li {
    margin: 5px 0;
    text-align: end;
}

.cityName {
    display: flex;
    justify-content: space-between;
}

main {
    margin-top: 30px;
}

.weatherInfo h2 {
    text-align: center;
    margin: 20px;
    font-size: 50px;
}

table {
    width: 400px;
}

tr td {
    border-bottom: 1px solid gray;
    font-size: 20px;
    padding: 20px;
}

tr td:nth-child(2) {
    color: white;
}

tr:hover {
    background-color: rgba(253, 247, 247, 0.418);
}